<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 配置service扫描 -->
	<context:component-scan base-package="com.taotao" />

	<!-- 配置dubbo -->
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="taotao-manage-service" />

	<!-- 使用multicast广播注册中心暴露服务地址 -->
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
	<!-- 使用zookeeper -->
	<dubbo:registry protocol="zookeeper" address="192.168.12.168:2181" />

	<!-- 用dubbo协议在20880端口暴露服务；端口号唯一即可 -->
	<dubbo:protocol name="dubbo" port="20880" />

	<!-- 声明需要暴露的服务接口 -->
	<bean id="testServiceImpl" class="com.taotao.manage.service.impl.TestServiceImpl"/>
	<dubbo:service interface="com.taotao.manage.service.TestService" ref="testServiceImpl" />
	
	<!-- 声明需要暴露的服务接口 -->
	<bean id="itemCatServiceImpl" class="com.taotao.manage.service.impl.ItemCatServiceImpl"/>
	<dubbo:service interface="com.taotao.manage.service.ItemCatService" ref="itemCatServiceImpl" />
	
	<!-- 声明需要暴露的服务接口 :商品基本信息 -->
	<bean id="itemServiceImpl" class="com.taotao.manage.service.impl.ItemServiceImpl"/>
	<dubbo:service interface="com.taotao.manage.service.ItemService" ref="itemServiceImpl" />
	
	<!-- 声明需要暴露的服务接口:商品描述信息 -->
	<bean id="itemDescServiceImpl" class="com.taotao.manage.service.impl.ItemDescServiceImpl"/>
	<dubbo:service interface="com.taotao.manage.service.ItemDescService" ref="itemDescServiceImpl" />
	
	
	<!-- 声明需要暴露的服务接口 :内容分类 -->
	<bean id="contentCategoryServiceImpl" class="com.taotao.manage.service.impl.ContentCategoryServiceImpl"/>
	<dubbo:service interface="com.taotao.manage.service.ContentCategoryService" ref="contentCategoryServiceImpl" />
	
	<!-- 声明需要暴露的服务接口:内容 -->
	<bean id="contentServiceImpl" class="com.taotao.manage.service.impl.ContentServiceImpl"/>
	<dubbo:service interface="com.taotao.manage.service.ContentService" ref="contentServiceImpl" />

</beans>

